* {
    margin: 0px;
    padding: 0px;
}
#wrapper {
    background-color: #544048;
    width: 1000px;
    margin: 0px auto;
}
#header {
    background-color: #f8f8f8;
    height: 60px;
    padding: 10px 0px 10px 10px;
}
#content {
    padding: 20px;
}
#footer {
    background-color: #f8f8f8;
    height: 60px;
}
h1 {
    font-size: 40px;
    font-family: "Comic Sans MS", Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    width: 50%;
    padding-left: 20px;
    padding-top: 5px;
    color: black;
}
h2 {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    width: 44%;
    vertical-align: 35%;
    text-align: right;
    color: black;
}
h3 {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    padding-top: 12px;
    padding-left: 18px;
}
p {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    display: block;
    margin-bottom: 10px;
}
a {
    text-decoration: underline;
    color: black;
}
#image-frame {
    background-color: #c0c0c0;
    height: 303px;
    width: 48%;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
}
#primary-photo {
    width:100%;
}
#content-top-box {
    background-color: #ede5ec;
    height: 313px;
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-left: 22px;
}
.box-head {
    background-color: #908f9a;
    height: 45px;
    width: 100%;
}
.text-container {
    padding: 10px;
}
